* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff3737 !important;
}
